* {
    margin: 0;
    padding: 0;
}

[data-tab-content] {
    display: none;
    margin: 50px;
    font-size: 1.5rem;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    font-size: 1.2rem;
}
.tab {
    padding: 12px;
}
.active.tab {
    background-color: #CCC;
}
.tab:hover {
    background-color: #AAA;
    cursor: pointer;
}
